@model Portal.CMS.Web.Areas.PageBuilder.ViewModels.Section.EditMarkupViewModel
@{
    Layout = "";
    var textareaSelector = DateTime.Now.ToString("ddMMyyyyHHmmss");
}

<style>
    textarea
    {
        width: 100%;
        min-height: 60vh;
    }
</style>

<script type="text/javascript">
    $('#customForm').submit(function () {
        var markup = $('textarea[name="PageSectionBody"').val();
        markup = PageBuilder.Helpers.CleanMarkup(markup);
        $('textarea[name="PageSectionBody"').val(markup)

        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            cache: false,
            beforeSend: function () {
                setModalEditorContent('<div class="spinner"></div>');
            },
            success: function (result) {
                if (result.State === true)
                {
                    $('#section-wrapper-' + @Model.PageSectionId).html(result.Markup);

                    $('.modal').modal('toggle');

                    PageBuilder.Initialise.Editor();
                    InitialiseWidgets();
                    PageBuilder.Initialise.Droppables();
                }
                else
                {
                    alert("Error: The document has lost synchronisation. Reloading document...");
                    location.reload();
                }
            }
        });
        return false;
    });
</script>

@using (Html.BeginForm("EditMarkup", "Section", FormMethod.Post, new { id = "customForm" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.PageSectionId)

    @Html.TextAreaFor(x => x.PageSectionBody, new { id = textareaSelector })

    <br /><br />

    <div class="footer">
        <button class="btn primary">Save Changes</button>
        <button class="btn" data-dismiss="modal">Cancel</button>
    </div>
}