<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<connectionStrings>
		<add name="PortalDbConnection"
         connectionString="Data Source=sql11.hostinguk.net; Initial Catalog=mentordo_20190215; user id=mentordo_admin; password=4@q7g.YcBR2W4k; MultipleActiveResultSets=true;"
         providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />

		<add name="LogBookEntityModel"
				 connectionString="Data Source=sql11.hostinguk.net;Initial Catalog=mentordo_20190215;user id=mentordo_admin; password=4@q7g.YcBR2W4k;"
				 providerName="System.Data.SqlClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
	</connectionStrings>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" xdt:Transform="Replace">
				<network host="relay.hostinguk.net" userName="myuser" password="mypassword" />
			</smtp>
		</mailSettings>
	</system.net>
	
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <appSettings>
    <add key="CustomErrorPage" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>