body
{
    background-image: url('../../Areas/Admin/Content/Images/texture.png');
}

.navbar
{
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-inverse
{
    background-color: black;
    border: 0;
}

.navbar .container-fluid
{
    padding-left: 0;
}

.navbar-collapse
{
    padding: 0;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand
{
    margin: 0;
}

@media (max-width: 768px)
{
    .navbar .container-fluid
    {
        padding-left: 15px;
    }

    .navbar-collapse
    {
        padding: inherit;
    }
}