.image
{
    margin-bottom: 20px;
    min-height: 300px;
    max-height: 300px;
}

.image.icon
{
    margin-right: 20px;
}

.thumbnail
{
    min-height: 300px;
    max-height: 300px;
    width: 100%;
}

.tab-pane .icon, .tab-pane .icon .thumbnail
{
    height: 100px;
    width: 100px;
    min-height: unset;
}

    .tab-pane .icon .glyphicon
    {
        margin-right: 0;
    }

    .tab-pane .icon .overlay-light
    {
        left: 16px;
        right: -14px;
        top: 1px;
        bottom: 0px;
    }

.tab-pane .overlay-light
{
    left: 19px;
    right: 19px;
    top: 5px;
    bottom: 5px;
}

.tab-pane
{
    min-height: unset;
}