html, body
{
    padding: 0;
    margin: 0;
}

#sidebar
{
    overflow-y: auto;
    position: fixed;
    width: 70px;
    height: 100vh;
    background-color: #1C1C1E;
    padding-top: 70px;
}

    #sidebar .link
    {
        display: block;
        text-align: center;
        cursor: pointer;
        border-left: 2px solid transparent;
        border-bottom: 1px solid #28282B;
        transition: border-left 0.2s ease-in-out;
    }

        #sidebar .link.first
        {
            border-top: 1px solid #28282B;
        }

        #sidebar .link:hover
        {
            border-left: 2px solid #F7F7F7;
        }

        #sidebar .link img
        {
            width: 30px;
            height: 30px;
            margin-top: 19px;
            margin-bottom: 19px;
        }

header
{
    position: fixed;
    left: 70px;
    top: 0;
    right: 0;
    height: 70px;
    background-color: #1C1C1E;
    color: white;
    padding: 5px 10px 5px 10px;
}

    header h3
    {
        margin: 0;
        line-height: 60px;
    }

    header img
    {
        height: 30px;
        margin-right: 15px;
    }

#page-container
{
    position: fixed;
    left: 70px;
    right: 0;
    top: 70px;
    bottom: 0;
    background-color: #EEEEF6;
    padding: 30px;
    overflow-y: auto;
}

@media (max-width: 700px)
{
    header
    {
        left: 0;
        padding-left: 20px;
    }

    #sidebar
    {
        padding: 0;
        height: 70px;
        right: 0;
        width: 75px;
        border-left: 1px solid #292C33;
    }

    #page-container
    {
        left: 0;
    }
}