@model Portal.CMS.Web.Areas.Admin.ViewModels.DevelopmentManager.ComponentTypeLibraryViewModel

<div class="col-xs-12 col-md-4">
    <div class="box">
        <div class="box-title">Component Type Library</div>

        <div class="admin-container x2">
            <a href="@Url.Action("AddComponentType", "DevelopmentManager")" class="admin-item launch-modal" data-title="Add Component"><span class="fa fa-plus"></span>Add Component</a>
            <a href="@Url.Action("ResetComponentLibrary", "DevelopmentManager")" class="admin-item launch-modal" data-title="Reset Component Library"><span class="fa fa-trash"></span>Reset Library</a>
        </div>
    </div>
</div>