@model Portal.CMS.Web.Areas.Admin.ViewModels.DevelopmentManager.CustomWidgetsViewModel

<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="box">
            <div class="box-title">Custom Widgets</div>

            <div class="admin-container x1">
                <a href="@Url.Action("AddCustomWidget", "DevelopmentManager")" class="admin-item launch-modal" data-title="Add Custom Widget"><span class="fa fa-plus"></span>Add Widget</a>
            </div>
        </div>
    </div>
</div>
    