@model Portal.CMS.Web.Areas.Admin.ViewModels.DevelopmentManager.SectionTypeLibraryViewModel

<div class="col-xs-12 col-md-4">
    <div class="box">
        <div class="box-title">Section Type Library</div>

        <div class="admin-container x2">
            <a href="@Url.Action("AddSectionType", "DevelopmentManager")" class="admin-item launch-modal" data-title="Add Section Type"><span class="fa fa-plus"></span>Add Section</a>
            <a href="@Url.Action("ResetSectionLibrary", "DevelopmentManager")" class="admin-item launch-modal" data-title="Reset Section Type Library"><span class="fa fa-trash"></span>Reset Library</a>
        </div>
    </div>
</div>