@model Portal.CMS.Web.Areas.Builder.ViewModels.Container.EditViewModel
@{
    Layout = "";
}

@using (Html.BeginForm("Edit", "Container", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.PageSectionId)
    @Html.HiddenFor(x => x.ContainerElementId)

    <br />

    <div class="footer">
        <button class="btn primary">Save</button>
        <a href="@Url.Action("Delete", "Container", new { pageSectionId = Model.PageSectionId, elementId = Model.ContainerElementId})" class="btn delete">Delete</a>
        <button class="btn" data-dismiss="modal">Cancel</button>
    </div>
}