.box
{
    position: relative;
    background-color: white;
    border: 1px solid #F7F8FA;
    margin-bottom: 20px;
    border-radius: 5px;
    min-height: 220px;
    padding: 20px;
    box-shadow: 1px 1px 10px #D2D2D8;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -moz-transition: box-shadow 0.2s ease-in-out;
    -o-transition: box-shadow 0.2s ease-in-out;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}

    .box:hover
    {
        box-shadow: 1px 1px 20px #CACACE;
    }

.tab-pane .box
{
    box-shadow: 1px 1px 30px #C5C5C9;
}

    .tab-pane .box:hover
    {
        box-shadow: 1px 1px 50px #ABABAD;
    }

.box.high
{
    min-height: 540px;
}

.box .inner
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    z-index: 10;
}

.box .row img
{
    width: 100%;
}

.box-title
{
    z-index: 10;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #EAEAEA;
    color: black;
    padding: 8px 15px 8px 20px;
    border-bottom-left-radius: 5px;
    font-size: 14px;
    letter-spacing: 1px;
}


.admin-container
{
    position: absolute;
    width: 90%;
    bottom: 7px;
    border-top: 1px solid #E6E6ED;
    padding-top: 5px;
}

    .admin-container .admin-item
    {
        display: inline-block;
        padding: 10px;
        color: #9395A0;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        text-align: center;
    }

        .admin-container .admin-item .fa
        {
            margin-right: 15px;
        }

.dark .admin-container .admin-item
{
    color: white;
}

.admin-container .admin-item:hover
{
    color: black;
}

.dark .admin-container .admin-item:hover
{
    color: white;
}

.admin-container.x3 .admin-item
{
    width: 32.5%;
}

.admin-container.x2 .admin-item
{
    width: 49%;
}

.admin-container.x1 .admin-item
{
    width: 100%;
}
