.box
{
    position: relative;
    background-color: white;
    border: 1px solid #F7F8FA;
    margin-bottom: 20px;
    border-radius: 5px;
    min-height: 220px;
    padding: 20px;
    box-shadow: 1px 1px 10px #D2D2D8;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    -moz-transition: box-shadow 0.2s ease-in-out;
    -o-transition: box-shadow 0.2s ease-in-out;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}

    .box:hover
    {
        box-shadow: 1px 1px 20px #CACACE;
    }

.tab-pane .box
{
    box-shadow: 1px 1px 30px #C5C5C9;
}

    .tab-pane .box:hover
    {
        box-shadow: 1px 1px 50px #ABABAD;
    }

.box.high
{
    min-height: 540px;
}

.box .inner
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    z-index: 10;
}

.box .row img
{
    width: 100%;
}

.box-title
{
    z-index: 10;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #EAEAEA;
    color: black;
    padding: 8px 15px 8px 20px;
    border-bottom-left-radius: 5px;
    font-size: 14px;
    letter-spacing: 1px;
}
.control-group
{
    margin-bottom: 10px;
}

    .control-group label, .control-group input, .control-group select
    {
        float: left;
        font-weight: normal;
        border: 1px solid #ccc;
    }

    .control-group label
    {
        width: 110px;
        padding: 0 10px 0 10px;
        line-height: 43px;
        background-color: #eee;
        text-align: center;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .control-group input, .control-group select
    {
        height: 45px;
        width: calc(100% - 110px);
        background-color: #fff;
        border-left: 0;
        font-size: 16px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .control-group.control-textarea label
    {
        width: 100%;
        margin-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .control-group.control-textarea textarea, .control-group.control-textarea select[multiple="multiple"]
    {
        width: 100%;
        border-left: 1px solid #ccc;
        border-top: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    select[multiple="multiple"]
    {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }

.button-group
{
    text-align: center;
    margin-top: 10px;
}

.btn
{
    background-color: #CECECE;
    color: black;
    padding: 10px 20px 10px 20px;
    margin: 10px 5px 20px 5px;
}

    .btn.primary
    {
        background-color: #337AB7;
        color: white;
    }

    .btn.delete
    {
        background-color: red;
        color: white;
    }

.navbar-nav a
{
    font-size: 14px;
}

.navbar-nav > li > a.btn
{
    padding: 5px 10px 5px 10px;
    margin: 8px 8px 8px 0px;
    background-color: #191919;
    border: 1px solid #2B2B2B;
    font-size: 14px;
}

    .navbar-nav > li > a.btn:hover
    {
        background-color: #2B2B2B;
    }

input[readonly]
{
    cursor: not-allowed;
}

input, textarea, select
{
    padding: 5px 10px 5px 10px;
}

textarea
{
    height: 125px;
}
@font-face
{
    font-family: 'Emeric';
    src: url('../../Fonts/Emeric.ttf') format('truetype');
}

body
{
    font-family: 'Emeric';
}

h1
{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

h2
{
    font-size: 35px;
    margin-bottom: 30px;
}

h3
{
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1.2px;
    margin-bottom: 30px;
}

h4
{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 15px;
}

p, a
{
    font-size: 20px;
}

input
{
    outline: none;
}

.glyphicon
{
    margin-right: 10px;
}

.btn
{
    font-size: 18px;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark p
{
    color: white;
}

code
{
    display: block;
    text-align: left;
    padding: 10px;
    font-size: 16px;
}
.clear
{
    clear: both;
}

.float-container:after
{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.overlay-dark
{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../Images/block_black_dark.png');
}

.overlay-light
{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../Images/block_black_light.png');
}

.overlay-medium
{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../Images/block_black_medium.png');
}

.upper
{
    text-transform: uppercase;
}

.glyphicon
{
    margin-right: 10px;
}

.field-validation-error
{
    background-color: #B12D2D;
    color: white;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 16px;
}

.field-validation-help
{
    background-color: green;
    color: white;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 16px;
}

.action-container
{
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 60px;
    z-index: 50;
}

.action
{
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #D32D27;
    font-size: 18px;
    color: white;
    line-height: 52px;
    text-align: center;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

    .action:hover
    {
        background-color: #BA2823;
    }

    .action .glyphicon, .admin-item .glyphicon
    {
        margin: 0;
    }

.action-container.wide
{
    bottom: 10px;
    right: 10px;
}

    .action-container.wide .action
    {
        height: 40px;
        line-height: 41px;
        width: auto;
        border-radius: 15px;
        text-align: left;
        margin-bottom: 10px;
        font-size: 15px;
        padding-right: 20px;
    }

        .action-container.wide .action .glyphicon
        {
            margin-right: 10px;
            margin-left: 15px;
        }

.action-container.absolute
{
    position: absolute;
    top: 20px;
    left: 20px;
    right: auto;
}

    .action-container.absolute .action
    {
        background-color: black;
        border: 2px dashed #191919;
        -moz-transition: border, background-color 0.2s ease-out;
        -o-transition: border, background-color 0.2s ease-out;
        -webkit-transition: border, background-color 0.2s ease-out;
        transition: border, background-color 0.2s ease-out;
    }

        .action-container.absolute .action:hover
        {
            color: white;
            background-color: #191919;
            border: 2px dashed #424242;
        }

#popup-container
{
    display: none;
}

.admin-container
{
    position: absolute;
    bottom: 7px;
    width: 93%;
    margin-bottom: 10px;
    border-top: 1px solid #E6E6ED;
    padding-top: 5px;
    margin: 0 auto;
    z-index: 10;
}

    .admin-container .admin-item
    {
        display: inline-block;
        width: 24%;
        text-align: center;
        padding: 10px;
        color: #9D9FAB;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15px;
    }

        .admin-container .admin-item .glyphicon
        {
            margin-right: 15px;
        }

.dark .admin-container .admin-item
{
    color: white;
}

.admin-container .admin-item:hover
{
    color: black;
}

.dark .admin-container .admin-item:hover
{
    color: white;
}

.admin-container.x3 .admin-item
{
    width: 32.5%;
}

.admin-container.x2 .admin-item
{
    width: 49%;
}

.admin-container.x1 .admin-item
{
    width: 100%;
}

.no-border
{
    border: 0;
}

.hover
{
    opacity: 0;
    -moz-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
}

.image:hover .hover
{
    opacity: 1;
}

.footer
{
    text-align: right;
}

.category-item
{
    padding: 7px 10px 7px 10px;
    background-image: url('../../Images/block_black_dark.png');
    display: inline-block;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    margin-right: 10px;
    font-size: 14px;
}

a.category-item:hover
{
    color: white;
}

.vertical-alignment
{
    position: relative;
    text-align: center;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 20;
}

.align-left
{
    text-align: left;
}

.align-right
{
    text-align: right;
}

.align-center
{
    text-align: center;
}

.tag
{
    display: inline-block;
    background-color: #E0E0E0;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    color: black;
}

    .tag:hover
    {
        background-color: #EAEAEA;
        color: black;
        text-decoration: none;
    }

.popover
{
    border-radius: 5px;
    box-shadow: 1px 1px 10px #D2D2D8;
    border: 1px solid #D6D7D8;
}

.popover-title
{
    text-transform: uppercase;
    color: #333333;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.selected
{
    border: 2px solid red !important;
}

.copy-wrapper
{
    position: relative;
}

.copy-block
{
    position: relative;
    margin-bottom: 20px;
}

@media (max-width: 767px)
{
    .action-container.wide .action
    {
        text-align: center;
        padding-right: 5px;
        border-radius: 50%;
        font-size: 18px;
        height: 50px;
        line-height: 52px;
        width: 50px;
    }
}

.modal-title
{
    text-transform: uppercase;
}

.modal-body
{
    background-image: url('../../Images/texture.png');
}

@media (min-width: 768px)
{
    .modal-dialog
    {
        width: 1000px;
        max-width: 90%;
        margin: 30px auto;
    }
}
.nav-tabs > li > a
{
    color: black;
    font-size: 13px;
}

.tab-content
{
    border: 1px solid #ddd;
    border-top: 0;
}

.tab-content .tab-pane
{
    position: relative;
    background-color: white;
    padding: 20px 20px 30px 20px;
}

    @media (max-width: 767px)
    {
        .nav-tabs.nav-justified{
            margin-bottom: 10px;
        }
    }
.confirmation-popover .glyphicon
{
    margin: 0;
}

.confirmation-popover .btn.btn-danger
{
    background-color: #d9534f;
}

.confirmation-popover .btn
{
    background-color: black;
    color: white;
    padding: 7px 10px 5px 10px;
    margin: 1px 4px 1px 4px;
    border-radius: 50%;
}
.tab-pane img.thumbnail
{
    border: 2px solid white;
    display: inline-block;
    max-width: calc((100% - 90px) / 4);
    margin-right: 20px;
    transition: all 0.2s ease-in-out;
}

.image-container
{
    padding-left: 20px;
    padding-right: 20px;
}

.x2 img.thumbnail
{
    max-width: calc((100% - 45px) / 2);
}

.x3 img.thumbnail
{
    max-width: calc((100% - 70px) / 3);
}

.x4 img.thumbail
{
    max-width: calc((100% - 90px) / 4);
}

.x5 img.thumbnail
{
    max-width: calc((100% - 115px) / 5);
}

@media (max-width: 1024px)
{
    .x5 img.thumbnail
    {
        max-width: calc((100% - 90px) / 4);
    }

    .x3 img.thumbnail
    {
        max-width: calc((100% - 45px) / 2);
    }
}

@media (max-width: 768px)
{
    .x5 img.thumbnail, .x4 img.thumnail, .x3 img.thumbnail
    {
        max-width: calc((100% - 45px) / 2);
    }
}

@media (max-width: 665px)
{
    .x5 img.thumbnail, .x4 img.thumbnail, .x3 img.thumbnail, .x2 img.thumnail
    {
        max-width: calc(100% / 1);
    }
}