.confirmation-popover .glyphicon
{
    margin: 0;
}

.confirmation-popover .btn.btn-danger
{
    background-color: #d9534f;
}

.confirmation-popover .btn
{
    background-color: black;
    color: white;
    padding: 7px 10px 5px 10px;
    margin: 1px 4px 1px 4px;
    border-radius: 50%;
}
