.control-group
{
    margin-bottom: 10px;
}

    .control-group label, .control-group input, .control-group select
    {
        float: left;
        font-weight: normal;
        border: 1px solid #ccc;
    }

    .control-group label
    {
        width: 110px;
        padding: 0 10px 0 10px;
        line-height: 43px;
        background-color: #eee;
        text-align: center;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }

    .control-group input, .control-group select
    {
        height: 45px;
        width: calc(100% - 110px);
        background-color: #fff;
        border-left: 0;
        font-size: 16px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .control-group.control-textarea label
    {
        width: 100%;
        margin-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .control-group.control-textarea textarea, .control-group.control-textarea select[multiple="multiple"]
    {
        width: 100%;
        border-left: 1px solid #ccc;
        border-top: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .control-group.wide-label label
    {
        width: 200px;
    }

    .control-group.wide-label input, .control-group.wide-label select
    {
        width: calc(100% - 200px);
    }

.jquery-slider-wrapper
{
    width: calc(100% - 300px);
    background-color: #fff;
    border: 1px solid #ccc;
    border-left: 0;
    float: left;
    height: 45px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 15px;
}

.control-group input.jquery-slider-value
{
    float: left;
    width: 100px;
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    text-align: center;
    line-height: 45px;
}

div.iconpicker-popover input
{
    float: none;
    width: 100%;
    border: 1px solid #ccc;
}

select[multiple="multiple"]
{
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.button-group
{
    text-align: center;
    margin-top: 10px;
}

.btn
{
    background-color: #CECECE;
    color: black;
    padding: 10px 20px 10px 20px;
    margin: 10px 5px 20px 5px;
}

    .btn.primary
    {
        background-color: #337AB7;
        color: white;
    }

    .btn.delete
    {
        background-color: red;
        color: white;
    }

    .btn.square
    {
        border-radius: 3px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
        text-transform: uppercase;
        text-decoration: none;
        transition: color, background-color 0.2s ease-in;
    }

        .btn.square:hover
        {
            background-color: white;
            color: black;
        }

.navbar-nav a
{
    font-size: 14px;
    transition: all 0.1s ease-in;
    cursor: pointer;
}

.navbar-nav > li > a.btn
{
    padding: 5px 10px 5px 10px;
    margin: 8px 8px 8px 0px;
    background-color: #191919;
    border: 1px solid #2B2B2B;
}

    .navbar-nav > li > a.btn:hover
    {
        background-color: #2B2B2B;
    }

    .navbar-nav > li > a.btn.add
    {
        padding: 0;
        margin: 0;
        margin-left: 20px;        
        background-color: transparent;
        border: 0;
        line-height: 51px;
    }

input[readonly]
{
    cursor: not-allowed;
}

input, textarea, select
{
    padding: 5px 10px 5px 10px;
}

textarea
{
    height: 125px;
}