@font-face
{
    font-family: 'Emeric';
    src: url('../../Fonts/Emeric.ttf') format('truetype');
}

body
{
    font-family: 'Emeric';
}

h1
{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}

h2
{
    font-size: 35px;
    margin-bottom: 30px;
}

h3
{
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 1.2px;
    margin-bottom: 30px;
}

h4
{
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 15px;
}

p, a
{
    font-size: 20px;
}

input
{
    outline: none;
}

.fa, .glyphicon
{
    margin-right: 10px;
}

.btn
{
    font-size: 18px;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark p
{
    color: white;
}

code
{
    display: block;
    text-align: left;
    padding: 10px;
    font-size: 16px;
}

.alert-link
{
    font-size: 14px;
}

.action .fa, .admin-item .fa, .action .fa
{
    margin: 0;
}