.clear
{
    clear: both;
}

.float-container:after
{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.overlay-dark
{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../Images/block_black_dark.png');
}

.overlay-light
{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../Images/block_black_light.png');
}

.overlay-medium
{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../Images/block_black_medium.png');
}

.upper
{
    text-transform: uppercase;
}

.field-validation-error
{
    background-color: #B12D2D;
    color: white;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 16px;
}

.field-validation-help
{
    background-color: green;
    color: white;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 16px;
}

.action-container
{
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 60px;
    z-index: 50;
}

.action
{
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #D32D27;
    font-size: 18px;
    color: white;
    line-height: 48px;
    text-align: center;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

    .action:hover
    {
        background-color: #BA2823;
    }

    .action .fa, .admin-item .fa, .action .fa
    {
        margin: 0;
    }

.action-container.wide
{
    bottom: 10px;
    right: 10px;
}

    .action-container.wide .action
    {
        height: 40px;
        line-height: 41px;
        width: auto;
        border-radius: 15px;
        text-align: left;
        margin-bottom: 10px;
        font-size: 15px;
        padding-right: 20px;
    }

        .action-container.wide .action .fa
        {
            margin-right: 10px;
            margin-left: 15px;
        }

.action-container.absolute
{
    position: absolute;
    top: 20px;
    left: 20px;
    right: auto;
}

    .action-container.absolute .action
    {
        background-color: black;
        border: 2px dashed #191919;
        -moz-transition: border, background-color 0.2s ease-out;
        -o-transition: border, background-color 0.2s ease-out;
        -webkit-transition: border, background-color 0.2s ease-out;
        transition: border, background-color 0.2s ease-out;
    }

        .action-container.absolute .action:hover
        {
            color: white;
            background-color: #191919;
            border: 2px dashed #424242;
        }

#popup-container
{
    display: none;
}

.admin-container
{
    position: absolute;
    bottom: 7px;
    width: 93%;
    margin-bottom: 10px;
    border-top: 1px solid #E6E6ED;
    padding-top: 5px;
    margin: 0 auto;
    z-index: 10;
}

    .admin-container .admin-item
    {
        display: inline-block;
        width: 24%;
        text-align: center;
        padding: 10px;
        color: #9D9FAB;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 15px;
    }

        .admin-container .admin-item .fa
        {
            margin-right: 15px;
        }

.dark .admin-container .admin-item
{
    color: white;
}

.admin-container .admin-item:hover
{
    color: black;
}

.dark .admin-container .admin-item:hover
{
    color: white;
}

.admin-container.x3 .admin-item
{
    width: 32.5%;
}

.admin-container.x2 .admin-item
{
    width: 49%;
}

.admin-container.x1 .admin-item
{
    width: 100%;
}

.no-border
{
    border: 0;
}

.hover
{
    opacity: 0;
    -moz-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
}

.image:hover .hover
{
    opacity: 1;
}

.footer
{
    text-align: right;
}

.category-item
{
    padding: 7px 10px 7px 10px;
    background-image: url('../../Images/block_black_dark.png');
    display: inline-block;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    margin-right: 10px;
    font-size: 14px;
}

a.category-item:hover
{
    color: white;
}

.vertical-alignment
{
    position: relative;
    text-align: center;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 20;
}

.align-left
{
    text-align: left;
}

.align-right
{
    text-align: right;
}

.align-center
{
    text-align: center;
}

.tag
{
    display: inline-block;
    background-color: #E0E0E0;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    color: black;
}

    .tag:hover
    {
        background-color: #EAEAEA;
        color: black;
        text-decoration: none;
    }

.popover
{
    border-radius: 5px;
    box-shadow: 1px 1px 10px #D2D2D8;
    border: 1px solid #D6D7D8;
}

.popover-title
{
    text-transform: uppercase;
    color: #333333;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.selected
{
    border: 2px solid red !important;
}

.copy-wrapper
{
    position: relative;
}

.copy-block
{
    position: relative;
    margin-bottom: 20px;
}

@media (max-width: 767px)
{
    .action-container.wide .action
    {
        text-align: center;
        padding-right: 5px;
        border-radius: 50%;
        font-size: 18px;
        height: 50px;
        line-height: 52px;
        width: 50px;
    }
}