.float-container:after
{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
}

.overlay-dark
{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../Images/block_black_dark.png');
}

.overlay-light
{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../Images/block_black_light.png');
}

.overlay-medium
{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../Images/block_black_medium.png');
}

.field-validation-error
{
    background-color: #B12D2D;
    color: white;
    display: block;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.action-container
{
    position: fixed;
    right: 20px;
    bottom: 10px;
    height: 60px;
    z-index: 50;
}

.action
{
    display: inline-block;
    height: 45px;
    width: 45px;
    margin: 2px;
    border-radius: 50%;
    background-color: #D32D27;
    color: white;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
}

    .action:hover
    {
        background-color: #BA2823;
    }

.action-container.absolute
{
    position: absolute;
    top: 10px;
    left: 10px;
    right: auto;
}

.action-container.wide
{
    bottom: 0px;
    right: 10px;
}

    .action-container.wide .action
    {
        height: 40px;
        width: auto;
        padding-right: 14px;
        line-height: 40px;
        border-radius: 10px;
        font-size: 15px;
    }

        .action-container.wide .action .fa
        {
            margin-right: 9px;
            margin-left: 12px;
        }

.action-container.absolute .action
{
    background-color: black;
    border: 2px dashed #191919;
    -moz-transition: border, background-color 0.2s ease-out;
    -o-transition: border, background-color 0.2s ease-out;
    -webkit-transition: border, background-color 0.2s ease-out;
    transition: border, background-color 0.2s ease-out;
}

    .action-container.absolute .action:hover
    {
        color: white;
        background-color: #191919;
        border: 2px dashed #424242;
    }

.category-item
{
    display: inline-block;
    padding: 7px 10px 7px 10px;
    margin: 2px;
    background-image: url('../../Images/block_black_dark.png');
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
}

a.category-item:hover
{
    color: white;
}

.vertical-alignment
{
    position: relative;
    text-align: center;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 20;
}

.tag
{
    display: inline-block;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    background-color: #E0E0E0;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: black;
}

    .tag:hover
    {
        background-color: #EAEAEA;
        color: black;
        text-decoration: none;
    }

.popover
{
    border: 1px solid #D6D7D8;
}

.popover-title
{
    text-transform: uppercase;
}

.selected
{
    border: 1px solid red !important;
}

.copy-wrapper
{
    position: relative;
}

.copy-block
{
    position: relative;
    margin-bottom: 20px;
}

.spinner
{
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    box-shadow: 32px 32px rgb(79,77,73), -32px 32px rgb(223,223,223), -32px -32px rgb(79,77,73), 32px -32px rgb(223,223,223);
    -o-box-shadow: 32px 32px rgb(79,77,73), -32px 32px rgb(223,223,223), -32px -32px rgb(79,77,73), 32px -32px rgb(223,223,223);
    -ms-box-shadow: 32px 32px rgb(79,77,73), -32px 32px rgb(223,223,223), -32px -32px rgb(79,77,73), 32px -32px rgb(223,223,223);
    -webkit-box-shadow: 32px 32px rgb(79,77,73), -32px 32px rgb(223,223,223), -32px -32px rgb(79,77,73), 32px -32px rgb(223,223,223);
    -moz-box-shadow: 32px 32px rgb(79,77,73), -32px 32px rgb(223,223,223), -32px -32px rgb(79,77,73), 32px -32px rgb(223,223,223);
    animation: cssload-spin ease infinite 3.2s;
    -o-animation: cssload-spin ease infinite 3.2s;
    -ms-animation: cssload-spin ease infinite 3.2s;
    -webkit-animation: cssload-spin ease infinite 3.2s;
    -moz-animation: cssload-spin ease infinite 3.2s;
}

@keyframes cssload-spin
{
    0%, 100%
    {
        box-shadow: 32px 32px rgb(79,77,73), -32px 32px rgb(223,223,223), -32px -32px rgb(79,77,73), 32px -32px rgb(223,223,223);
    }

    25%
    {
        box-shadow: -32px 32px rgb(223,223,223), -32px -32px rgb(79,77,73), 32px -32px rgb(223,223,223), 32px 32px rgb(79,77,73);
    }

    50%
    {
        box-shadow: -32px -32px rgb(79,77,73), 32px -32px rgb(223,223,223), 32px 32px rgb(79,77,73), -32px 32px rgb(223,223,223);
    }

    75%
    {
        box-shadow: 32px -32px #dfdfdf, 32px 32px #4f4d49, -32px 32px #dfdfdf, -32px -32px #4f4d49;
    }
}

@-o-keyframes cssload-spin
{
    0%, 100%
    {
        box-shadow: 32px 32px rgb(79,77,73), -32px 32px rgb(223,223,223), -32px -32px rgb(79,77,73), 32px -32px rgb(223,223,223);
    }

    25%
    {
        box-shadow: -32px 32px rgb(223,223,223), -32px -32px rgb(79,77,73), 32px -32px rgb(223,223,223), 32px 32px rgb(79,77,73);
    }

    50%
    {
        box-shadow: -32px -32px rgb(79,77,73), 32px -32px rgb(223,223,223), 32px 32px rgb(79,77,73), -32px 32px rgb(223,223,223);
    }

    75%
    {
        box-shadow: 32px -32px #dfdfdf, 32px 32px #4f4d49, -32px 32px #dfdfdf, -32px -32px #4f4d49;
    }
}

@-ms-keyframes cssload-spin
{
    0%, 100%
    {
        box-shadow: 32px 32px rgb(79,77,73), -32px 32px rgb(223,223,223), -32px -32px rgb(79,77,73), 32px -32px rgb(223,223,223);
    }

    25%
    {
        box-shadow: -32px 32px rgb(223,223,223), -32px -32px rgb(79,77,73), 32px -32px rgb(223,223,223), 32px 32px rgb(79,77,73);
    }

    50%
    {
        box-shadow: -32px -32px rgb(79,77,73), 32px -32px rgb(223,223,223), 32px 32px rgb(79,77,73), -32px 32px rgb(223,223,223);
    }

    75%
    {
        box-shadow: 32px -32px #dfdfdf, 32px 32px #4f4d49, -32px 32px #dfdfdf, -32px -32px #4f4d49;
    }
}

@-webkit-keyframes cssload-spin
{
    0%, 100%
    {
        box-shadow: 32px 32px rgb(79,77,73), -32px 32px rgb(223,223,223), -32px -32px rgb(79,77,73), 32px -32px rgb(223,223,223);
    }

    25%
    {
        box-shadow: -32px 32px rgb(223,223,223), -32px -32px rgb(79,77,73), 32px -32px rgb(223,223,223), 32px 32px rgb(79,77,73);
    }

    50%
    {
        box-shadow: -32px -32px rgb(79,77,73), 32px -32px rgb(223,223,223), 32px 32px rgb(79,77,73), -32px 32px rgb(223,223,223);
    }

    75%
    {
        box-shadow: 32px -32px #dfdfdf, 32px 32px #4f4d49, -32px 32px #dfdfdf, -32px -32px #4f4d49;
    }
}

@-moz-keyframes cssload-spin
{
    0%, 100%
    {
        box-shadow: 32px 32px rgb(79,77,73), -32px 32px rgb(223,223,223), -32px -32px rgb(79,77,73), 32px -32px rgb(223,223,223);
    }

    25%
    {
        box-shadow: -32px 32px rgb(223,223,223), -32px -32px rgb(79,77,73), 32px -32px rgb(223,223,223), 32px 32px rgb(79,77,73);
    }

    50%
    {
        box-shadow: -32px -32px rgb(79,77,73), 32px -32px rgb(223,223,223), 32px 32px rgb(79,77,73), -32px 32px rgb(223,223,223);
    }

    75%
    {
        box-shadow: 32px -32px #dfdfdf, 32px 32px #4f4d49, -32px 32px #dfdfdf, -32px -32px #4f4d49;
    }
}

@media (max-width: 767px)
{
    .modal-body .btn .fa
    {
        margin-right: 0;
    }

    .vertical-alignment, section .vertical-alignment
    {
        position: relative;
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        top: 0;
    }

    .action-container.wide .action
    {
        text-align: center;
        padding-right: 5px;
        border-radius: 50%;
        font-size: 18px;
        height: 50px;
        line-height: 52px;
        width: 50px;
    }
}