.modal-title
{
    text-transform: uppercase;
}

.modal-body
{
    background-image: url('../../Images/texture.png');
}

@media (min-width: 768px)
{
    .modal-dialog
    {
        width: 1000px;
        max-width: 90%;
        margin: 30px auto;
    }
}