.modal-title
{
    text-transform: uppercase;
}

.modal-body
{
    background-color: whitesmoke;
}

.modal .footer
{
    text-align: right;
}

@media (min-width: 768px)
{
    .modal-dialog
    {
        width: 1000px;
        max-width: 90%;
        margin: 30px auto;
    }
}