.nav-tabs > li > a
{
    color: black;
    font-size: 13px;
}

.tab-content
{
    border: 1px solid #ddd;
    border-top: 0;
}

.tab-content .tab-pane
{
    position: relative;
    background-color: white;
    padding: 20px 20px 30px 20px;
}

    @media (max-width: 767px)
    {
        .nav-tabs.nav-justified{
            margin-bottom: 10px;
        }
    }