/* CSS used here will be applied after bootstrap.css */

.nav-tabs > li > a
{
    color: black;
    font-size: 14px;
}

.nav-tabs .active li
{
}

.tab-content .tab-pane
{
    position: relative;
    min-height: 500px;
    border: 1px solid #ddd;
    background-color: white;
    border-top: 0;
    padding: 20px 20px 30px 20px;
}

    .tab-pane img.thumbnail {
        float: left;
        width: 100%;
        height: 180px;
        margin-right: 20px;
    }

    .tab-pane h1 {
        font-size: 25px;
        padding: 10px 20px 10px 20px;
        margin-bottom: 10px;
        color: black;
    }

    .tab-pane p {
    }

    .tab-pane a:hover {
        text-decoration: none;
    }

    @media (max-width: 767px)
    {
        .tab-pane
        {
            margin-top: 10px;
            border: 1px solid #ddd;
        }
    }