.nav-tabs > li > a
{
    color: black;
}

.tab-content
{
    border: 1px solid #ddd;
    border-top: 0;
}

.tab-content .tab-pane
{
    position: relative;
    background-color: white;
    padding: 20px 20px 30px 20px;
}

    .tab-pane img.thumbnail {
        float: left;
        width: 100%;
        height: 180px;
        margin-right: 20px;
    }

    .tab-pane h1 {
        font-size: 25px;
        padding: 10px 20px 10px 20px;
        margin-bottom: 10px;
        color: black;
    }

    .tab-pane a:hover {
        text-decoration: none;
    }

    @media (max-width: 767px)
    {
        .nav-tabs.nav-justified{
            margin-bottom: 10px;
        }
    }