.toggle
{
    position: relative;
    width: 110px;
    height: 40px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-right: 20px;
    border-radius: 5px;
}

    .toggle.on
    {
        background-color: #149AFD;
        border: 1px solid #149AFD;
    }

        .toggle.on:hover
        {
            border: 1px solid #5E5E5E;
        }

        .toggle.on .value:after
        {
            content: "On";
        }

    .toggle.off
    {
        background-color: #5E5E5E;
        border: 1px solid #5E5E5E;
    }

        .toggle.off:hover
        {
            border: 1px solid #149AFD;
        }

    .toggle.off .value:after
    {
        content: "Off";
    }

    .toggle .switch
    {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 50px;
        font-size: 1px;
        border-radius: 5px;
        background-color: white;
        transition: all 0.3s ease-in-out;
    }

    .toggle:hover .switch
    {
        width: 108px;
        line-height: 40px;
        text-align: center;
        font-size: 15px;
        text-transform: uppercase;
        font-weight: bold;
    }

    .toggle.on:hover .switch::after
    {
        content: "Switch Off";
        color: #5E5E5E;
    }

    .toggle.off:hover .switch::after
    {
        content: "Switch On";
        color: #149AFD;
    }

    .toggle .value
    {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 60px;
        line-height: 40px;
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-weight: bold;
    }