#toolbar
{
    position: fixed;
    top: 70px;
    right: 0;
    z-index: 50;
    background-color: black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

#toolbar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#toolbar ul li
{
    display: inline-block;
    padding: 10px 10px 10px 10px;
}

#toolbar ul li a
{
    color: white;
}