.section-preview
{
    display: block;
    width: 100%;
    margin-bottom: 50px;
    cursor: pointer;
    overflow: hidden;
    zoom: 25%;
}

    .section-preview .section-preview-inner
    {
        border: 5px solid black;
    }

        .section-preview .section-preview-inner:hover
        {
            border: 5px solid red;
        }

.panel-overlay .section-preview section
{
    pointer-events: none;
}

.section-preview .background-parallax
{
    background-attachment: scroll;
}

.section-preview .freestyle
{
    border: 0 !important;
}