.section-preview
{
    display: block;
    width: 100%;
    margin-bottom: 50px;
    border: 1px solid black;
    cursor: pointer;
    -ms-zoom: 0.25;
    zoom: 0.25;
    overflow: hidden;
}

    .panel-overlay .section-preview:hover
    {
        border: 1px solid red;
    }

    .panel-overlay .section-preview section
    {
        pointer-events: none;
    }

.section-preview .background-parallax
{
    background-attachment: scroll;
}

.section-preview .freestyle
{
    border: 0 !important;
}