.widget-preview
{
    margin-bottom: 50px;
    border: 1px solid black;
    cursor: pointer;
    overflow: hidden;
}

.panel-overlay .panel-inner .widget-preview
{
    cursor: pointer;
}

    .panel-overlay .panel-inner .widget-preview div *
    {
        pointer-events: none;
    }