@model Portal.CMS.Web.Areas.Builder.ViewModels.Build.CustomViewModel
@{
    ViewBag.Title = "Server Error";
    Layout = "~/Views/Error/_Layout.cshtml";
}

<div id="page-wrapper">
    <section class="header background-parallax height-tall">
        <div class="overlay-medium"></div><div class="vertical-alignment component-container">
            <h1>Server Error</h1>
            <p>Sorry but something went wrong. We have logged the problem and will look into it.</p>
            <a onclick="history.go(-1);" class="btn square">Back</a>
        </div>
    </section>
</div>