
@model Portal.CMS.Entities.Entities.Page
@{
    ViewBag.Title = Model.PageName;
}

<div id="page-wrapper" class="visitor">
    @Html.Partial("/Areas/PageBuilder/Views/Page/_Page.cshtml", Model)
</div>