@model Portal.CMS.Web.Areas.Admin.ViewModels.Menu.CreateViewModel
@{
    Layout = "";
}

@using (Html.BeginForm("Create", "Menu", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.ValidationMessage("MenuName")

    <div class="control-group">
        @Html.LabelFor(x => x.MenuName)
        @Html.TextBoxFor(x => x.MenuName, new { placeholder = "Menu Name" })
    </div>

    <br />

    <div class="footer">
        <button class="btn primary">Save</button>
        <button class="btn" data-dismiss="modal">Cancel</button>
    </div>
}