#sidebar
{
    overflow-y: auto;
    position: fixed;
    width: 60px;
    height: 100vh;
    background-color: #1C1C1E;
    padding-top: 60px;
}

    #sidebar .link
    {
        display: block;
        text-align: center;
        border-left: 2px solid transparent;
        border-bottom: 1px solid #28282B;
    }

        #sidebar .link:first-child
        {
            border-top: 1px solid #28282B;
        }

        #sidebar .link:hover
        {
            border-left: 2px solid #F7F7F7;
        }

        #sidebar .link img
        {
            width: 30px;
            height: 30px;
            margin: 20px 10px;
        }

header
{
    position: fixed;
    left: 60px;
    right: 0;
    background-color: #1C1C1E;
    color: white;
    padding: 0 10px 5px 10px;
}

    header h3
    {
        margin: 0;
        line-height: 60px;
    }

    header img
    {
        height: 30px;
        margin-right: 15px;
    }

#page-container
{
    position: fixed;
    left: 60px;
    right: 0;
    top: 60px;
    bottom: 0;
    background-color: #EEEEF6;
    padding: 25px;
    overflow-y: auto;
}

.media-container
{
    width: 100%;
    height: 220px;
    overflow-y: auto;
}

.media-img
{
    float: left;
    margin: 5px;
    height: 90px;
    width: 30%;
    max-width: 118px;
}

@media (max-width: 700px)
{
    #page-container
    {
        padding: 10px;
    }
}