@model Portal.CMS.Web.Areas.Admin.ViewModels.AnalyticManager.ReviewExceptionViewModel
@{
    ViewBag.Title = "Review Exception";
    Layout = "";
}

<div class="console-title">Exception Details</div>
<div class="console">@Model.LogException</div>
<div class="footer"><button class="btn" data-dismiss="modal">Close</button></div>