section
{
    zoom: 1;
}

    section.header-split
    {
        position: relative;
        overflow: hidden;
    }

        section.header-split .details-wrapper
        {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 50%;
            padding-top: 6%;
            padding-bottom: 3.5%;
            background-image: url('/Areas/Admin/Content/Images/block_black_medium.png');
        }

            section.header-split .details-wrapper .details
            {
                float: right;
                width: 64%;
                left: auto;
                padding-right: 30px;
                padding-left: 30px;
                padding-bottom: 70px;
                text-align: right;
            }

        section.header-split h1
        {
            color: white;
            margin-bottom: 45px;
        }

        section.header-split p
        {
            color: #E5E5E5;
            margin-bottom: 30px;
        }

        section.header-split a
        {
            color: #E5E5E5;
            text-decoration: underline;
        }

        section.header-split input.upload
        {
            border: 0;
        }

        section.header-split input, section.header-split textarea
        {
            min-width: 275px;
            padding: 10px;
            width: 90%;
            margin-bottom: 20px;
            background-image: url('/Areas/Admin/Content/Images/block_black_medium.png');
            background-color: transparent;
            border: 1px solid white;
            color: white;
        }

    section.background-colour
    {
        background-image: none;
    }

@media (max-width: 1400px)
{
    section.header-split .details-wrapper
    {
        width: 75%;
    }

        section.header-split .details-wrapper .details
        {
            width: 75%;
        }
}

@media (max-width: 800px)
{
    section.header-split .details-wrapper
    {
        width: 80%;
    }

        section.header-split .details-wrapper .details
        {
            width: 80%;
            padding-top: 30px;
        }
}

@media (max-width: 767px)
{
    section.header
    {
        max-height: initial;
    }

    section iframe
    {
        max-width: 100%;
        -ms-zoom: 0.6;
        zoom: 0.6;
    }

    section.header-split .details-wrapper
    {
        width: 100%;
        position: relative;
        background-image: none;
        padding: 0;
    }

    section.header-split .details
    {
        background-image: url('/Areas/Admin/Content/Images/block_black_medium.png');
    }

    section.header-split .details-wrapper .details
    {
        width: 100%;
        text-align: center;
    }
}

section.quote
{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #191919;
    text-align: center;
    background-attachment: fixed;
    background-color: transparent;
    color: #F7F7F7;
}

    section.quote h1
    {
        font-size: 30px;
        padding-left: 250px;
        padding-right: 250px;
        margin: 0;
        margin-bottom: 40px;
    }

    section.quote h2
    {
        font-size: 25px;
    }

    section.quote .quote-image-left
    {
        position: absolute;
        background-repeat: no-repeat;
        background-position: center center;
        top: 30px;
        background-size: contain;
        left: 100px;
        width: 200px;
        height: 200px;
    }

    section.quote .quote-image-right
    {
        position: absolute;
        background-repeat: no-repeat;
        background-position: center center;
        top: 30px;
        background-size: contain;
        right: 100px;
        width: 200px;
        height: 200px;
    }

@media (max-width: 1024px)
{
    section.quote h1
    {
        padding-left: 125px;
        padding-right: 125px;
    }

    section.quote .quote-image-left
    {
        width: 100px;
        height: 100px;
        top: 75px;
        left: 50px;
    }

    section.quote .quote-image-right
    {
        width: 100px;
        height: 100px;
        top: 75px;
        right: 50px;
    }
}

@media (max-width: 767px)
{
    section.quote .quote-image-left, section.quote .quote-image-right
    {
        display: none;
    }

    section.quote h1
    {
        padding: 0;
    }

    section.quote
    {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

section.gallery
{
    height: auto;
    min-height: 300px;
}

    section.gallery .image
    {
        float: left;
        width: 25%;
        height: 350px;
        background-size: cover;
        background-position: center center;
        margin: 0;
    }

@media(max-width: 1024px)
{
    section.gallery .image
    {
        width: 50%;
        height: 400px;
    }
}

@media(max-width: 768px)
{
    section.gallery .image
    {
        width: 50%;
        height: 350px;
    }
}

@media(max-width: 414px)
{
    section.gallery .image
    {
        width: 100%;
        height: 300px;
    }
}

section.block
{
    text-align: center;
    background-color: black;
    color: white;
    background-size: cover;
    background-position: center center;
    padding: 20px;
    padding-bottom: 25px;
}

    section.block h1, section.block h2, section.block h3
    {
        display: inline-block;
        margin: 0;
        margin-left: 20px;
        margin-right: 20px;
        padding: 20px;
        font-size: 25px;
    }

    section.block p
    {
        line-height: 100px;
        margin-bottom: 10px;
    }

.glass
{
    position: absolute;
    background-image: url('/Areas/Admin/Content/Images/block_black_light.png');
}

.glass-top
{
    left: 0;
    top: 0;
    right: 0;
    height: 20px;
}

.glass-bottom
{
    left: 0;
    bottom: 0;
    right: 0;
    height: 20px;
}

.glass-left
{
    left: 0;
    top: 20px;
    bottom: 20px;
    width: 20px;
}

.glass-right
{
    right: 0;
    top: 20px;
    bottom: 20px;
    width: 20px;
}

    .glass-left.full, .glass-right.full
    {
        top: 0;
        bottom: 0;
    }

.form-contact input
{
    width: 100%;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid silver;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    color: white;
}

.form-contact textarea
{
    width: 100%;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid silver;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    height: 230px;
    min-height: initial;
    color: white;
}

.form-contact button
{
    width: 100%;
    background-color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid silver;
    color: white;
    font-size: 16px;
    padding: 15px 10px 15px 10px;
    text-transform: uppercase;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .form-contact button:hover
    {
        background-color: white;
        color: black;
    }

section.header-carousel .carousel
{
    max-height: 65vh;
}

section.header-carousel .carousel-inner
{
    max-height: 65vh;
}

    section.header-carousel .carousel-inner .item
    {
        height: 65vh;
    }

section.header-carousel .carousel .item .component-container
{
    top: 50%;
    bottom: auto;
    padding: 0;
}