@model Portal.CMS.Web.Areas.Builder.ViewModels.Build.CustomViewModel
@using Portal.CMS.Web.Areas.Admin.Helpers;
@{
    ViewBag.Title = "Error";
}

<div id="page-wrapper">
    <section id="section-7" class="header background-parallax height-tall">
        <div class="overlay-medium"></div><div id="component-100916160418-7" class="vertical-alignment component-container">
            <h1 id="title-7" data-section="1">Server Error</h1>
            <p id="subtitle-7">Sorry but something went wrong. We have logged the problem and will look into it.</p>
            <a id="component-1473519891239-7" onclick="history.go(-1);" class="btn square">Back</a>
        </div>
    </section>
</div>