@model Portal.CMS.Web.Areas.Admin.ViewModels.UserManager.DeleteViewModel
@{
    Layout = "";
}

@using (Html.BeginForm("Delete", "UserManager", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.UserId)

    <span class="field-validation-error">Please confirm, if you delete this User Account they will not be able to Login.</span>

    <div class="footer">
        <button class="btn primary">Delete Account</button>
        <button class="btn" data-dismiss="modal">Cancel</button>
    </div>
}