@model Portal.CMS.Web.Areas.Admin.ViewModels.UserManager.RolesViewModel
@{
    Layout = "";
}

@using (Html.BeginForm("Roles", "UserManager", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="alert alert-warning" role="alert">Giving a user additional roles will allow them to see more on Portal CMS.</div>

    @Html.HiddenFor(x => x.UserId)
    @Html.ListBoxFor(m => m.SelectedRoleList, Model.RoleList.Select(r => new SelectListItem { Text = r.RoleName, Value = r.RoleName.ToString(), Selected = Model.SelectedRoleList != null && Model.SelectedRoleList.Contains(r.RoleName) }))

    <div class="footer">
        <button class="btn primary"><span class="fa fa-check"></span><span class="hidden-xs">Save</span></button>
        <button class="btn" data-dismiss="modal"><span class="fa fa-times"></span><span class="hidden-xs">Cancel</span></button>
    </div>
}