@model Portal.CMS.Web.Areas.Admin.ViewModels.Pages.PagesViewModel
@using Portal.CMS.Entities.Entities.Analytics
    @{
        ViewBag.Title = "Website Analytics";
        ViewBag.Icon = "/Areas/Admin/Content/Images/icon-reports.png";
    }

    <link href="~/Areas/Admin/Content/Styles/Pages/dashboard.css" rel="stylesheet" />

    <div class="row">
        @Html.Action("PageViewsByDay", "Analytics", new { chartSize = ChartSize.Half })
        @Html.Action("TopPages", "Analytics", new { chartSize = ChartSize.Half })
        @Html.Action("TopPosts", "Analytics", new { chartSize = ChartSize.Half })
        @Html.Action("TopPostCategories", "Analytics", new { chartSize = ChartSize.Half })
    </div>