@model Portal.CMS.Web.Areas.Builder.ViewModels.Section.MarkupViewModel
@{
    Layout = "";
    var textareaSelector = DateTime.Now.ToString("ddMMyyyyHHmmss");
}

<style>
    textarea
    {
        width: 100%;
        min-height: 60vh;
    }
</style>

@using (Html.BeginForm("Markup", "Section", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(x => x.PageSectionId)

    @Html.TextAreaFor(x => x.PageSectionBody, new { id = textareaSelector })

    <br /><br />

    <div class="footer">
        <button class="btn primary">Save Changes</button>
        <button class="btn" data-dismiss="modal">Cancel</button>
    </div>
}