@model Portal.CMS.Web.Areas.Admin.ViewModels.Authentication.AvatarViewModel
@{
    Layout = "";
}

@using (Html.BeginForm("Avatar", "Authentication", FormMethod.Post, new { id = "uploadImageForm", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.ValidationMessage("AttachedImage")
    <div class="control-group">
        @Html.LabelFor(x => x.AttachedImage)
        @Html.TextBoxFor(m => m.AttachedImage, new { @type = "file" })
    </div>

    <div class="footer">
        <button class="btn primary">Upload Avatar</button>
        <button class="btn" data-dismiss="modal">Cancel</button>
    </div>
}