@{
    Layout = "";
}

<section class="blank height-small background-static background-colour" style="background-color: #ffffff;">
    <div class="container">
        <h2>Example Partial</h2>
        <p>This is an example partial, to see how it was created take a look at the "ExampleController" in the source code. You can write your own custom partials.</p>
    </div>

</section>