@model Portal.CMS.Web.Areas.Admin.ViewModels.Users.RolesViewModel
@{
    Layout = "";
}

<style>
    #SelectedRoleList
    {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }
</style>

@using (Html.BeginForm("Roles", "Users", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <span class="field-validation-help">Giving a user additional roles will allow them to see more on Portal CMS.</span>

    @Html.HiddenFor(x => x.UserId)

    @Html.ListBoxFor(m => m.SelectedRoleList, Model.RoleList.Select(r => new SelectListItem { Text = r.RoleName, Value = r.RoleName.ToString(), Selected = Model.SelectedRoleList != null && Model.SelectedRoleList.Contains(r.RoleName) }))

    <div class="footer">
        <button class="btn primary">Save Changes</button>
        <button class="btn" data-dismiss="modal">Cancel</button>
    </div>
}