<div class="col-xs-12 col-md-6 col-lg-4">
    <div class="box high">
        <div class="box-title">Welcome to Portal CMS</div>
        <h3>What is Portal CMS?</h3>
        <p>Portal CMS is a fully featured and responsive content management system with a powerful integrated page builder.</p>
        <h3>Contribute</h3>
        <p>Portal CMS is open source, contribute code to improve and enhance Portal CMS on GitHub.</p>
        <div class="hidden-xs">
            <h3>Contact</h3>
            <p>Send us your comments and feedback about Portal CMS: <a href="mailto:spam@tommcclean.me">Send Email</a></p>
        </div>

        <div class="admin-container x2">
            <a href="http://portalcms.online" class="admin-item" data-title="View Repository"><span class="glyphicon glyphicon-globe"></span>Learn More</a>
            <a href="https://github.com/tommcclean/PortalCMS" class="admin-item" data-title="View Repository"><span class="glyphicon glyphicon-globe"></span>Repository</a>
        </div>
    </div>
</div>