<div class="col-xs-12 col-md-6 col-lg-4">
    <div class="box box-tall">
        <div class="box-title">Dashboard</div>
        <h3>Welcome to Portal CMS</h3>
        <p>Portal CMS is a fully featured and responsive content management system with integrated page builder.</p>
        <p>Start building your website by adding Media, Posts and Pages!</p>

        <div class="admin-container x2">
            <a href="http://portalcms.online" class="admin-item" data-title="View Repository"><span class="fa fa-info"></span>Learn More</a>
            <a href="https://github.com/tommcclean/PortalCMS" class="admin-item" data-title="View Repository"><span class="fa fa-code-fork"></span>Repository</a>
        </div>
    </div>
</div>