<div class="col-xs-12 col-md-6 col-lg-4">
    <div class="box high">
        <div class="box-title">Welcome to Portal CMS</div>
        <h3>What is Portal CMS?</h3>
        <p>Portal is a flexible and easy to use Content Management System.</p><p>Create Blog Posts and Galleries for visitors to see and comment on.</p>
        <br />
        <h3>Submit Feedback</h3>
        <p>To submit feedback about Portal CMS contact the <a href="mailto:spam@tommcclean.me">Developer by email.</a></p>
    </div>
</div>