body {
}

section.quote
{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #191919;
    text-align: center;
    background-image: url('../../Images/Sample/pattern-1.png');
    background-attachment: fixed;
    background-color: transparent;
    color: #F7F7F7;
}


section.quote h1
{
    font-size: 30px;
    padding-top: 50px;
    padding-left: 300px;
    padding-right: 300px;
    margin: 0;
    margin-bottom: 40px;
}

section.quote h2
{
    font-size: 25px;
}

section.quote .quote-image-left
{
    position: absolute;
    background-image: url('../../Images/Sample/quote-image-left.png');
    background-repeat: no-repeat;
    background-position: center center;
    top: 30px;
    background-size: contain;
    left: 100px;
    width: 200px;
    height: 200px;
}

section.quote .quote-image-right
{
    position: absolute;
    background-image: url('../../Images/Sample/quote-image-right.png');
    background-repeat: no-repeat;
    background-position: center center;
    top: 30px;
    background-size: contain;
    right: 100px;
    width: 200px;
    height: 200px;
}

@media (max-width: 1024px)
{
    section.quote h1
    {
        padding-top: 100px;
        padding-left: 175px;
        padding-right: 175px;
    }

    section.quote .quote-image-left
    {
        width: 100px;
        height: 100px;
        top: 75px;
        left: 50px;
    }

    section.quote .quote-image-right
    {
        width: 100px;
        height: 100px;
        top: 75px;
        right: 50px;
    }
}

@media (max-width: 641px)
{
    section.quote .quote-image-left, section.quote .quote-image-right
    {
        display: none;
    }

    section.quote h1
    {
        padding-top: 0;
        padding-left: 15px;
        padding-right: 15px;
    }

    section.quote
    {
        height: auto;
        padding-top: 75px;
        padding-bottom: 75px;
    }
}
.glass
{
    position: absolute;
    background-image: url('../../../../Admin/Content/Images/block_black_light.png');
}

.glass-dark
{
    background-image: url('../../../../Admin/Content/Images/block_black_light.png');
}

.glass-top
{
    left: 0px;
    top: 0px;
    right: 0px;
    height: 20px;
}

.glass-bottom
{
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 20px;
}

.glass-left
{
    left: 0px;
    top: 20px;
    bottom: 20px;
    width: 20px;
}

.glass-right
{
    right: 0px;
    top: 20px;
    bottom: 20px;
    width: 20px;
}

    .glass-left.full, .glass-right.full
    {
        top: 0px;
        bottom: 0px;
    }