.component-expand
{
    border: 1px solid silver;
    text-align: left;
    margin-bottom: 20px;
    cursor: pointer;
}

.component-expand .component-expand-header
{
    width: 100%;
    background-color: silver;
    padding-left: 20px;
    padding-right: 20px;
}

    .component-expand-header h3
    {
        margin: 0;
        padding: 0;
        line-height: 45px;
    }

.component-body
{
    display: none;
    padding: 20px;
    padding-bottom: 0;
}

.admin .component-expand-body
{
    display: block;
}

.component-preview .component-expand-body
{
    display: block;
}