.admin .freestyle
{
    border: 1px dashed purple;
    border-radius: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.admin .component-container
{
    border: 1px dashed gray;
    border-radius: 5px;
    padding-bottom: 30px;
    padding-top: 30px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

    .admin .component-container.selected, .admin .widget-wrapper.selected
    {
        border: 1px dashed red !important;
        border: 1px solid;
        background-image: url('/Areas/Admin/Content/Images/block_black_light.png');
    }

.admin .row
{
    border-color: red;
}

.admin .col-xs-2, .admin .col-xs-3, .admin .col-xs-4, .admin .col-xs-6, .admin .col-xs-12
{
    border-color: green;
    min-height: 100px;
}

.admin table.component-container
{
    display: block;
    border-color: red;
}

.admin tbody
{
    display: block;
}

.admin tr
{
    display: table;
    width: 100%;
}

.admin th.component-container
{
    display: table-cell;
    min-width: 100px;
    border: 1px dashed purple;
}

.admin td.component-container
{
    position: relative;
    display: table-cell;
    min-width: 100px;
    border-color: green;
}

section:after, .row:after
{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

section .vertical-alignment
{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    padding: 0 10% 0 10%;
}

.admin .widget-wrapper
{
    padding: 10px;
    border: 1px dashed black;
    cursor: pointer;
}

@media (max-width: 767px)
{
    section .vertical-alignment
    {
        position: relative;
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        -webkit-transform: translateY(0%);
        transform: translateY(0%);
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .action-container.wide .action
    {
        text-align: center;
        padding-right: 5px;
        border-radius: 50%;
        font-size: 18px;
        height: 50px;
        line-height: 52px;
        width: 50px;
    }
}