.panel-overlay
{
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    width: 350px;
    box-shadow: 1px 1px 15px #BDBDBF;
    border-radius: 5px;
    background-color: #FEFDFD;
    z-index: 50;
}

    .panel-overlay .panel-title h4
    {
        display: inline-block;
        padding-left: 20px;
        margin: 0;
        line-height: 45px;
        font-size: 18px;
        text-transform: uppercase;
    }

    .panel-overlay .panel-title .panel-action
    {
        float: right;
        padding: 12.5px 10px 12.5px 10px;
        cursor: pointer;
    }

    .panel-overlay .panel-inner
    {
        width: 100%;
        padding: 15px;
    }

        .panel-overlay .panel-inner .tab-content
        {
            min-height: 300px;
            max-height: 78vh;
            overflow-y: auto;
        }

        .panel-overlay .panel-inner .section-preview
        {
            display: block;
            width: 100%;
            margin-bottom: 50px;
            border: 1px solid black;
            cursor: pointer;
            zoom: 0.2;
        }

            .panel-overlay .panel-inner .section-preview:hover
            {
                border: 1px solid red;
            }

            .panel-overlay .panel-inner .section-preview section
            {
                pointer-events: none;
            }

            .panel-overlay .panel-inner .section-preview .background-parallax
            {
                background-attachment: scroll;
            }

        .panel-overlay .freestyle
        {
            border: 1px dashed purple;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
        }

        .panel-overlay .panel-inner .component-preview
        {
            position: relative;
            cursor: pointer;
            overflow: hidden;
        }

            .panel-overlay .panel-inner .component-preview.border
            {
                padding: 10px 0 10px 0;
                margin: 20px 0 20px 0;
                min-height: 100px;
                border-bottom: 1px dashed silver;
            }

            .panel-overlay .panel-inner .component-preview .freestyle *, .panel-overlay .panel-inner .component-preview .component-expand *
            {
                pointer-events: none;
            }

        .panel-overlay .panel-inner .widget-preview
        {
            cursor: pointer;
        }

        .panel-overlay .panel-inner .component-preview .component-container
        {
            background-color: #E0E0E0;
            min-height: 40px;
        }

            .panel-overlay .panel-inner .component-preview .component-container.ui-draggable-dragging
            {
                height: 50px;
                width: 300px;
                background-image: url('../../../Admin/Content/Images/block_black_medium.png');
            }

        .panel-overlay .panel-inner .widget-preview .post-list-wrapper a
        {
            width: 100%;
        }

    .panel-overlay .component-title
    {
        position: absolute;
        right: 0px;
        top: 15px;
        padding: 5px 10px 5px 10px;
        background-image: url('../../../Admin/Content/Images/block_black_dark.png');
        display: inline-block;
        color: white;
        border-radius: 5px;
        text-transform: uppercase;
        z-index: 50;
        pointer-events: none;
    }

    .panel-overlay .component-preview .btn.square
    {
        color: black;
        border-color: black;
        font-size: 16px;
    }

.ui-draggable-dragging
{
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    color: white;
    background-image: url('../../../Admin/Content/Images/block_black_medium.png');
    text-align: center;
}

.ui-accordion-content-active
{
    height: auto !important;
}

.ui-accordion .ui-accordion-header
{
    margin-bottom: 10px !important;
}

@media (max-width: 736px)
{
    .panel-overlay
    {
        top: 15px;
        left: 15px;
        right: 15px;
        width: auto;
    }
}