.image
{
    display: inline-block;
    height: 125px;
    width: 125px;
    background-image: url('/Areas/Builder/Content/Images/Sample/Sample-1.jpg');
    background-size: cover;
    background-position: center center;
    margin: 10px;
    margin-top: 20px;
}

    .image.image-circle
    {
        background-image: url('/Areas/Builder/Content/Images/Sample/Sample-4.jpg');
        border-radius: 50%;
    }

    .image.image-icon
    {
        height: 64px;
        width: 64px;
        background-image: url('/Areas/Builder/Content/Images/Sample/icon-1.png');
    }

    .image.image-standard
    {
        width: 300px;
        height: 225px;
        background-image: url('/Areas/Builder/Content/Images/Sample/Sample-5.jpg');
    }

    .image.image-auto
    {
        width: auto;
        max-width: 35vw;
        height: auto;
    }

    .image.image-fill
    {
        width: 80%;
        min-height: 280px;
    }