.section-wrapper, section
{
    position: relative;
}

    section.height-tall
    {
        min-height: calc(100vh - 50px);
    }

    section.height-medium
    {
        min-height: 600px;
    }

    section.height-standard
    {
        min-height: 375px;
    }

    section.height-small
    {
        min-height: 200px;
    }

    section.height-tiny
    {
        min-height: 100px;
    }

    section.background-static
    {
        background-size: cover;
        background-position: center center;
    }

    section.background-parallax
    {
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
    }

    section.header
    {
        max-height: calc(100vh - 50px);
        background-image: url('../Images/Sample/Sample-2.jpg');
        color: white;
    }

    section.blank
    {
        background-image: url('../../../Admin/Content/Images/texture.png');
        padding: 30px 2.5% 30px 2.5%;
        text-align: center;
    }

    section.highlight
    {
        background-image: url('../Images/Sample/Sample-5.jpg');
    }

    section p, section a
    {
        margin-bottom: 20px;
    }

table
{
    margin-top: 20px;
    margin-bottom: 10px;
}

    table tr th
    {
        text-align: center;
    }

    table tr td
    {
        padding: 2px;
        padding-left: 30px;
        padding-right: 30px;
    }

.builder-item
{
    padding: 25px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border: 1px solid #C9C9C9;
    margin-bottom: 25px;
    text-align: center;
    box-shadow: 1px 1px 20px #D2D2D8;
    background-color: #E0E0E0;
}

    .builder-item:hover
    {
        border: 1px solid #B7B7B7;
        box-shadow: 1px 1px 30px #B7B7B7;
    }

    .builder-item h4
    {
        margin-top: 10px;
    }

#page-wrapper.zoom
{
    width: 30%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px dashed white;
}

    #page-wrapper.zoom .section-wrapper section
    {
        -ms-zoom: 0.3;
        zoom: 0.3;
    }

    #page-wrapper.zoom .section-wrapper .action-container
    {
        display: none;
    }

.panel-overlay
{
    display: none;
    position: fixed;
    top: 70px;
    right: 20px;
    width: 350px;
    z-index: 50;
    background-color: #FEFDFD;
    box-shadow: 1px 1px 15px #BDBDBF;
    border-radius: 5px;
}

    .panel-overlay .panel-title
    {
        border-bottom: 1px solid #E3E6E8;
    }

        .panel-overlay .panel-title h4
        {
            display: inline-block;
            line-height: 45px;
            margin: 0;
            padding-left: 20px;
            font-size: 18px;
            text-transform: uppercase;
        }

        .panel-overlay .panel-title .panel-action
        {
            float: left;
            padding: 12.5px 10px 12.5px 10px;
            cursor: pointer;
        }

            .panel-overlay .panel-title .panel-action.right
            {
                float: right;
            }

    .panel-overlay .panel-inner
    {
        width: 100%;
        padding: 10px;
        min-height: 300px;
        max-height: 70vh;
        overflow-y: auto;
        margin-bottom: 20px;
    }

        .panel-overlay .panel-inner .section-preview
        {
            -ms-zoom: 0.2;
            zoom: 0.2;
            width: 100%;
            margin-bottom: 50px;
            border: 1px solid black;
            cursor: pointer;
            overflow: hidden;
        }

            .panel-overlay .panel-inner .section-preview:hover
            {
                border: 1px solid red;
            }

            .panel-overlay .panel-inner .section-preview section
            {
                pointer-events: none;
            }

            .panel-overlay .panel-inner .section-preview .background-parallax
            {
                background-attachment: scroll;
            }

        .panel-overlay .panel-inner .component-preview
        {
            position: relative;
            width: 100%;
            border: 1px solid transparent;
            cursor: pointer;
            min-height: 50px;
            overflow: hidden;
        }

            .panel-overlay .panel-inner .component-preview.border
            {
                border-bottom: 1px dashed silver;
                padding-top: 10px;
                padding-bottom: 10px;
                margin-bottom: 20px;
                margin-top: 20px;
            }

        .panel-overlay .panel-inner .widget-preview
        {
            width: 100%;
            cursor: pointer;
            overflow: hidden;
            min-height: 50px;
        }

        .panel-overlay .panel-inner .component-preview .component-container
        {
            background-color: silver;
            max-width: 100%;
            min-height: 40px;
        }

        .panel-overlay .panel-inner .component-preview .component-container *
        {
            max-width: 100%;
            min-height: 40px;
        }

.component-container.ui-draggable-dragging
{
    height: 50px;
    width: 300px;
    background-image: url('../../../Admin/Content/Images/block_black_medium.png');
}

.ui-draggable-dragging
{
    width: 300px;
}

.panel-overlay .panel-inner .widget-preview .post-list-wrapper a
{
    width: 100%;
}

.panel-overlay .component-title
{
    position: absolute;
    right: 0px;
    top: 30px;
    padding: 5px 10px 5px 10px;
    background-image: url('../../../Admin/Content/Images/block_black_dark.png');
    display: inline-block;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    z-index: 50;
}

.ui-draggable-dragging
{
    max-width: 50vw;
}

@media (max-width: 1024px)
{
    section.background-parallax
    {
        background-attachment: scroll;
    }

    #page-wrapper.zoom .section-wrapper section
    {
        -ms-zoom: 0.25;
        zoom: 0.25;
    }

    #page-wrapper.zoom
    {
        width: 60%;
    }
}

@media (max-width: 968px)
{
    section.height-tall
    {
        min-height: 80vh;
    }

    section.height-medium
    {
        min-height: 80vh;
    }

    #page-wrapper.zoom
    {
        width: 80%;
    }
}

@media (max-width: 736px)
{
    section.height-tall
    {
        min-height: 80vh;
    }

    section.height-medium
    {
        min-height: 80vh;
    }

    .panel-overlay
    {
        top: 15px;
        left: 15px;
        right: 15px;
        width: auto;
    }

        .panel-overlay .panel-inner .section-preview
        {
            -ms-zoom: 0.5;
            zoom: 0.5;
        }
}