.admin .component-container
{
    border: 1px dashed gray;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.admin .vertical-alignment
{
    min-height: 80px;
    padding-bottom: 30px;
}

.admin .container
{
    position: relative;
    min-height: 80px;
    padding-bottom: 30px;
}

.admin .row
{
    position: relative;
    min-height: 40px;
    border-color: red;
    padding-bottom: 30px;
}

.admin .col-xs-2, .admin .col-xs-3, .admin .col-xs-4, .admin .col-xs-6, .admin .col-xs-12
{
    min-height: 40px;
    border-color: green;
}

.admin .component-container.selected
{
    border: 1px solid gray;
    color: white;
    background-image: url('../../../Admin/Content/Images/block_black_light.png');
}

section
{
    position: relative;
    min-height: 300px;
}

section:after, .row:after
{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

    section.height-tall
    {
        min-height: calc(100vh - 50px);
    }

    section.height-medium
    {
        min-height: 600px;
    }

    section.height-small
    {
        min-height: 200px;
    }

    section.height-tiny
    {
        min-height: 100px;
    }

    section .vertical-alignment
    {
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        padding: 0 10% 0 10%;
    }

    section.header
    {
        background-image: url('../Images/Sample/Sample-2.jpg');
        color: white;
    }

    section.background-static
    {
        background-size: cover;
        background-position: center center;
    }

    section.background-parallax
    {
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
    }

    section.block
    {
        text-align: center;
        background-color: black;
        color: white;
        background-size: cover;
        background-position: center center;
    }

        section.block h1
        {
            display: inline-block;
            margin: 0;
            margin-left: 20px;
            margin-right: 20px;
            padding-top: 25px;
            line-height: 50px;
            font-size: 25px;
        }

        section.block p
        {
            line-height: 100px;
            margin-bottom: 10px;
        }

.image
{
    display: inline-block;
    height: 125px;
    width: 125px;
    background-image: url('../Images/Sample/Sample-6.jpg');
    background-size: cover;
    background-position: center center;
    margin: 10px;
    margin-top: 20px;
}

    .image.image-circle
    {
        border-radius: 50%;
    }

    .image.image-icon
    {
        height: 64px;
        width: 64px;
    }

    .image.image-standard
    {
        width: 300px;
        height: 225px;
    }

section.blank
{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 2.5%;
    padding-right: 2.5%;
    text-align: center;
}

section p, section a
{
    margin-bottom: 20px;
    font-size: 20px;
}

.builder-picker
{
    text-align: center;
}

.builder-item
{
    padding: 10px;
    background-image: url('../../../Admin/Content/Images/texture.png');
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border: 1px solid #E0E0E0;
    margin-bottom: 20px;
}

.builder-item:hover
{
    background-image: url('../../../Admin/Content/Images/texture-dark.png');
    border: 1px solid #D8D8D8;
}

.builder-item h1
{
    margin-top: 10px;
    font-size: 28px;
}