body
{
    background-color: black;
    background-image: unset;
}

.section-wrapper, section
{
    position: relative;
}

    section.height-tall
    {
        min-height: calc(100vh - 50px);
    }

    section.height-medium
    {
        min-height: 600px;
    }

    section.height-standard
    {
        min-height: 375px;
    }

    section.height-small
    {
        min-height: 200px;
    }

    section.height-tiny
    {
        min-height: 100px;
    }

    section.background-static
    {
        background-size: cover;
        background-position: center center;
    }

    section.background-parallax
    {
        background-attachment: fixed;
        background-size: cover;
        background-position: center center;
    }

    section.header
    {
        max-height: calc(100vh - 50px);
        background-image: url('../Images/Sample/Sample-2.jpg');
        color: white;
    }

    section.blank
    {
        background-image: url('../../../Admin/Content/Images/texture.png');
        padding: 50px 2.5% 50px 2.5%;
        text-align: center;
    }

    section.highlight
    {
        background-image: url('../Images/Sample/Sample-5.jpg');
    }

    section p, section a
    {
        margin-bottom: 20px;
    }

.builder-item
{
    padding: 25px;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    border: 1px solid #C9C9C9;
    margin-bottom: 25px;
    text-align: center;
    box-shadow: 1px 1px 20px #D2D2D8;
    background-color: #E0E0E0;
}

    .builder-item:hover
    {
        border: 1px solid #B7B7B7;
        box-shadow: 1px 1px 30px #B7B7B7;
    }

    .builder-item:not(section) h4
    {
        margin-top: 30px;
    }

#page-wrapper.zoom
{
    width: 30%;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 30px;
    border: 1px dashed white;
}

    #page-wrapper.zoom .section-wrapper section
    {
        -ms-zoom: 0.3;
        zoom: 0.3;
    }

    #page-wrapper.zoom .section-wrapper .action-container
    {
        display: none;
    }

@media (max-width: 1024px)
{
    section.background-parallax
    {
        background-attachment: scroll;
    }

    #page-wrapper.zoom .section-wrapper section
    {
        -ms-zoom: 0.25;
        zoom: 0.25;
    }

    #page-wrapper.zoom
    {
        width: 60%;
    }
}

@media (max-width: 968px)
{
    section.height-tall
    {
        min-height: 80vh;
    }

    section.height-medium
    {
        min-height: 80vh;
    }

    #page-wrapper.zoom
    {
        width: 80%;
    }
}

@media (max-width: 736px)
{
    section.height-tall
    {
        min-height: 80vh;
    }

    section.height-medium
    {
        min-height: 80vh;
    }
}
