section.quote
{
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #191919;
    text-align: center;
    background-image: url('/Areas/Builder/Content/Images/Sample/pattern-1.png');
    background-attachment: fixed;
    background-color: transparent;
    color: #F7F7F7;
}

    section.quote h1
    {
        font-size: 30px;
        padding-left: 250px;
        padding-right: 250px;
        margin: 0;
        margin-bottom: 40px;
    }

    section.quote h2
    {
        font-size: 25px;
    }

    section.quote .quote-image-left
    {
        position: absolute;
        background-image: url('/Areas/Builder/Content/Images/Sample/quote-image-left.png');
        background-repeat: no-repeat;
        background-position: center center;
        top: 30px;
        background-size: contain;
        left: 100px;
        width: 200px;
        height: 200px;
    }

    section.quote .quote-image-right
    {
        position: absolute;
        background-image: url('/Areas/Builder/Content/Images/Sample/quote-image-right.png');
        background-repeat: no-repeat;
        background-position: center center;
        top: 30px;
        background-size: contain;
        right: 100px;
        width: 200px;
        height: 200px;
    }

@media (max-width: 1024px)
{
    section.quote h1
    {
        padding-left: 125px;
        padding-right: 125px;
    }

    section.quote .quote-image-left
    {
        width: 100px;
        height: 100px;
        top: 75px;
        left: 50px;
    }

    section.quote .quote-image-right
    {
        width: 100px;
        height: 100px;
        top: 75px;
        right: 50px;
    }
}

@media (max-width: 767px)
{
    section.quote .quote-image-left, section.quote .quote-image-right
    {
        display: none;
    }

    section.quote h1
    {
        padding: 0;
    }

    section.quote
    {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    section.quote .vertical-alignment
    {
        top: 0;
        height: auto;
    }
}
