section.contact
{
    color: white;
    text-align: center;
    background-image: url('/Areas/Builder/Content/Images/Sample/sample-7.jpg');
    min-height: 600px;
}

section.contact .inner
{
    position: relative;
    z-index: 2;
    padding-top: 50px;
    padding-bottom: 50px;
}

    section.contact input
    {
        width: 100%;
        background-color: transparent;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 1px solid white;
        font-size: 20px;
        padding: 10px 10px 10px 10px;
    }

    section.contact textarea
    {
        width: 100%;
        background-color: transparent;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 1px solid white;
        font-size: 20px;
        padding: 10px 10px 10px 10px;
        height: 230px;
        min-height: initial;
    }

    section.contact button
    {
        width: 100%;
        background-color: transparent;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 1px solid white;
        color: white;
        font-size: 16px;
        padding: 15px 10px 15px 10px;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
    }

        section.contact button:hover
        {
            background-color: white;
            color: black;
        }