.action-container
{
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 50;
}

.action-container-footer
{
    position: fixed;
    right: 20px;
    bottom: 20px;
    top: auto;
    left: auto;
}

.action
{
    display: inline-block;
    height: 35px;
    width: 35px;
    line-height: 35px;
    background-color: black;
    border: 1px dashed #191919;
    color: #CCCCCC;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    -moz-transition: border, background-color, color 0.15s ease-out;
    -o-transition: border, background-color, color 0.15s ease-out;
    -webkit-transition: border, background-color, color 0.15s ease-out;
    transition: border, background-color, color 0.15s ease-out;
}

    .action:first-child
    {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .action:last-child
    {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }

.action-container .action:hover
{
    color: white;
    background-color: #191919;
}


@media (max-width: 736px)
{
    .action[data-title="Clone Section"]
    {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }
}