@model Portal.CMS.Entities.Entities.Post

<div class="row padding-sides x3">
    @if (!Model.PostImages.Any(x => x.PostImageType == PostImageType.Gallery))
    {
        <div class="load-action" data-url="@Url.Action("Get", "CopyManager", new { area = "Admin", copyName = "No Gallery Message" })"></div>
    }

    @foreach (var image in Model.PostImages.Where(x => x.PostImageType == PostImageType.Gallery))
    {
        <a class="fancybox-thumb" rel="fancybox-thumb" href="@image.Image.ImagePath" title="@Model.PostTitle"><img class="thumbnail" src="@image.Image.ImagePath" alt="Gallery Image" /></a>
    }
</div>