section.gallery
{
    height: auto;
    min-height: 300px !important;
}
    section.gallery .image
    {
        float: left;
        width: 25%;
        height: 350px;
        background-size: cover;
        background-position: center center;
        margin: 0;
    }

@media(max-width: 1024px)
{
    section.gallery .image
    {
        width: 50%;
        height: 400px;
    }
}

@media(max-width: 768px)
{
    section.gallery .image
    {
        width: 50%;
        height: 350px;
    }
}

@media(max-width: 414px)
{
    section.gallery .image
    {
        width: 100%;
        height: 300px;
    }
}

