@model Portal.CMS.Entities.Entities.Page
@{
    ViewBag.Title = "Server Error";
    Layout = "_Layout.cshtml";
}

<div id="page-wrapper">
    <section class="header background-parallax height-tall" style="background-image: url('/Areas/PageBuilder/Content/Images/Sample/Sample-2.jpg');">
        <div class="overlay overlay-medium"></div><div class="vertical-alignment component-container">
            <h1>Server Error</h1>
            <p>Sorry but something went wrong. We have logged the problem and will look into it.</p>
            <a onclick="history.go(-1);" class="btn square">Back</a>
        </div>
    </section>
</div>