@model Portal.CMS.Entities.Entities.Page
@{
    ViewBag.Title = "Server Error";
    Layout = "_Layout.cshtml";
}
<div id="page-wrapper">
    <section class="header background-parallax height-tall" style="background-image: url('/Areas/PageBuilder/Content/Images/Sample/Sample-2.jpg');">
        <div class="overlay overlay-medium"></div><div class="vertical-alignment component-container">
            <h1>Page Not Found</h1>
            <p>Sorry but the page you just tried to access is not there. You might be able to find it via the Home Page..</p>
            <a href="@Url.Action("Index", "Home", new { area = ""})" class="btn square">Back to Home Page</a>
        </div>
    </section>
</div>