.tab-pane img.thumbnail
{
    display: inline-block;
    margin-right: 20px;
}

.tab-pane.x2 img.thumbnail
{
    display: inline-block;
    margin-right: 5px;
}

.tab-pane.x2 nav
{
    text-align: right;
    margin-right: 7px;
    margin-bottom: 10px;
}

.x2 img.thumbnail
{
    max-width: calc((100% - 14px) / 2);
}

.x3 img.thumbnail
{
    max-width: calc((100% - 70px) / 3);
}

.x4 img.thumbnail
{
    max-width: calc((100% - 90px) / 4);
}

.x5 img.thumbnail
{
    max-width: calc((100% - 115px) / 5);
}

@media (max-width: 1024px)
{
    .x5 img.thumbnail
    {
        max-width: calc((100% - 90px) / 4);
    }

    .x3 img.thumbnail
    {
        max-width: calc((100% - 45px) / 2);
    }
}

@media (max-width: 768px)
{
    .x5 img.thumbnail, .x4 img.thumnail, .x3 img.thumbnail
    {
        max-width: calc((100% - 45px) / 2);
    }
}

@media (max-width: 665px)
{
    .x5 img.thumbnail, .x4 img.thumbnail, .x3 img.thumbnail, .x2 img.thumnail
    {
        max-width: calc(100% / 1);
    }
}