.table-data span.value
{
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 40px;
    color: white;
}

.table-data
{
    margin: 0;
    margin-top: 5px;
}

    .table-data a
    {
        font-size: 13px;
    }

    .table-data .header div
    {
        padding: 8px 10px 7px 10px;
        background-color: #1C1C1E;
        border-left: 1px solid white;
        color: white;
    }

    .table-data .record div
    {
        padding: 8px 10px 7px 10px;
        background-color: #F2F2F2;
        border-left: 1px solid white;
    }

    .table-data .record:nth-child(2n+1) div
    {
        background-color: #EAEAEA;
    }