.popover .btn
{
    font-size: 15px;
}

.dynamic-popover-content
{
    min-width: 400px;
    min-height: 200px;
    padding: 20px;
}

.popover-content.dynamic
{
    min-width: 400px;
    min-height: 200px;
    max-width: none;
}

.popover
{
    max-width: none;
}

    .popover .footer
    {
        text-align: right;
    }

a.action[data-toggle="popover"] span
{
    pointer-events: none;
}

.popover-content.dynamic h3
{
    font-size: 20px;
}