.float-container:after, .control-group:after
{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
}

.overlay
{
    z-index: 1 !important;
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
}

.overlay-dark
{
    background-image: url('/Areas/Admin/Content/Images/block_black_dark.png');
}

.overlay-light
{
    background-image: url('/Areas/Admin/Content/Images/block_black_light.png');
}

.overlay-medium
{
    background-image: url('/Areas/Admin/Content/Images/block_black_medium.png');
}

.field-validation-error
{
    background-color: #B12D2D;
    color: white;
    display: block;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.category-item
{
    display: inline-block;
    padding: 7px 10px 7px 10px;
    margin: 2px;
    background-image: url('/Areas/Admin/Content/Images/block_black_dark.png');
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
}

.vertical-alignment
{
    position: relative;
    text-align: center;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 20;
}

.selected
{
    border: 1px solid red !important;
}

.copy-wrapper
{
    position: relative;
}

.copy-block
{
    position: relative;
    margin-bottom: 20px;
}

[readonly]
{
    cursor: not-allowed;
}

.margin-none
{
    margin: 0;
}

.margin-bottom
{
    margin-bottom: 15px;
}

.padding-none
{
    padding: 0;
}

.padding-sides
{
    padding-left: 15px;
    padding-right: 15px;
}

.click-through
{
    pointer-events: none;
}

@media (max-width: 767px)
{
    .btn .fa
    {
        margin-right: 0;
    }

    .vertical-alignment
    {
        top: 0;
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}