.navbar
{
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-inverse
{
    background-color: black;
    border: 0;
}

.navbar .container-fluid
{
    padding-left: 0;
}

.navbar-collapse
{
    padding: 0;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand
{
    margin: 0;
}

.navbar .fa
{
    font-size: 18px;
}

@media (max-width: 768px)
{
    .navbar .container-fluid
    {
        padding-left: 15px;
    }

    .navbar-collapse
    {
        padding: inherit;
    }
}

.blog-sidebar
{
    padding-right: 0;
}

.post .post-banner
{
    position: relative;
    height: 60vh;
    min-height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-bottom: 1px solid #ddd;
}

    .post .post-banner .inner
    {
        padding: 5%;
        text-align: left;
    }

        .post .post-banner .inner .post-title
        {
            color: white;
            text-transform: none;
            word-spacing: 5px;
            letter-spacing: 1.5px;
            font-size: 48px;
        }

        .post .post-banner .inner .post-updated
        {
            color: white;
            font-size: 20px;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        .post .post-banner .inner .post-description
        {
            color: white;
            font-size: 25px;
            letter-spacing: 0.75px;
        }

.post .post-body
{
    padding: 2% 4% 4% 4%;
}

    .post .post-body p
    {
        font-size: 23px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .post .post-body strong
    {
        font-size: 25px;
    }

    .post .post-body img
    {
        max-width: 100%;
        text-align: center;
    }

.article-item
{
    height: 250px;
    cursor: pointer;
    border: 1px solid transparent;
    opacity: 0.9;
    transition: all 0.2s ease-in;
}

    .article-item:hover
    {
        opacity: 1;
    }

    .article-item .inner
    {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 20px;
        z-index: 10;
    }

        .article-item .inner p
        {
            height: 100px;
            overflow: hidden;
            font-size: 17px;
            color: white;
        }

        .article-item .inner h3
        {
            color: white;
        }

.post-details
{
    padding-bottom: 30px;
    border-bottom: 1px dotted silver;
}

    .post-details img.author-image
    {
        height: 100px;
        width: 100px;
        margin-right: 30px;
    }

.post .post-body .post-details p
{
    margin-top: 12.5px;
    margin-bottom: 10px;
}

@media (max-width: 1024px)
{
    .post .post-banner
    {
        height: 75vh;
    }
}

@media (max-width: 736px)
{
    .post .post-banner
    {
        height: auto;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }

    .post-details img.author-image
    {
        display: none;
    }

    .post-details
    {
        text-align: left;
        padding-bottom: 15px;
    }
}

#tab-comments textarea
{
    width: 100%;
    height: 100px;
    border-radius: 5px;
}

#tab-comments .comment-item
{
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 5px;
    margin: 0 10px 10px 10px;
}

    #tab-comments .comment-item h4
    {
        margin-bottom: 20px;
    }

.page-admin-wrapper
{
    position: fixed;
    right: 0;
    bottom: -6px;
    z-index: 50;
}

.admin-wrapper .button
{
    display: inline-block;
    background-color: black;
    padding: 12px 18px;
    font-size: 13px;
    color: white;
    text-transform: uppercase;
    margin-right: 2px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid gray;
    letter-spacing: 1px;
    border-bottom: 0;
    cursor: pointer;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    opacity: 0.9;
    min-height: 43px;
}

    .admin-wrapper .button:hover
    {
        opacity: 1;
    }

    .admin-wrapper .button.add, .admin-wrapper .button.act
    {
        background-color: #d32d27;
        border-color: #B72722;
    }

        .admin-wrapper .button.add:hover, .admin-wrapper .button.act:hover
        {
            background-color: #B72722;
        }

    .admin-wrapper .button.options
    {
        background-color: #255F85;
        border-color: #1A455E;
    }

        .admin-wrapper .button.options:hover
        {
            background-color: #1A455E;
        }

    .admin-wrapper .button.more
    {
        background-color: #28464B;
        border-color: #1E3438;
    }

        .admin-wrapper .button.more:hover
        {
            background-color: #1E3438;
        }

    .admin-wrapper .button.admin
    {
        background-color: #2E303A;
        border-color: #262730;
        margin-right: 10px;
    }

        .admin-wrapper .button.admin .fa
        {
            margin: 0;
        }

        .admin-wrapper .button.admin:hover
        {
            background-color: #262730;
        }

.page-builder .popover-content
{
    padding: 0;
}

.page-builder .popover.left .popover-content
{
    padding: 10px;
}

.popover-menu .list-group-item
{
    font-size: 15px;
    color: black;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

    .popover-menu .list-group-item:hover
    {
        background-color: #DDDDDD;
        color: black;
    }

@media (max-width: 450px)
{
    .admin-wrapper .button
    {
        padding: 12px 13px;
    }
}